<!-- <p [ngClass]="colorChange ? 'rojo' : 'verde'"
  [style.font-weight]="colorChange ? 'bold' : 400"
  [style.align-items]="colorChange ? 'start' : 'end'"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, mollitia vitae. Magni ab soluta dolorem sed illo perspiciatis modi eaque, esse quo aut dolores minima tempore harum possimus. Culpa, magni.
  Sit voluptatem ducimus quo, nulla soluta perspiciatis, temporibus iure doloremque quibusdam esse odit praesentium? Est, soluta sit nostrum facilis mol
</p> -->

<button (click)="ocultarLista()"
>
Mostrar Lista de estudiantes recientes
</button>
<button [style.margin-top]="'10px'" (click)="cambiarColor()"
>
Cambiar Color
</button>

<div *ngIf="mostrarLista"
[ngClass]="colorChange ? 'rojo' : 'verde'"
>
<li 
*ngFor="let estudiante of ['Thomas', 'Lisandro', 'Ulises', 'Uriel']"
[style.font-weight]="'bold'"
[style.margin-top]="'10px'"
[style.list-style]="'none'"
>
{{estudiante}}
</li>
</div>

<!-- <div class="demo-block" appRoundBlock>
  <p>Prueba Directiva Personalizada</p>
</div> -->
<!-- <p>Mi cumpleaños es {{ birthday | date }}</p> -->
<!-- <img [src]="urlImagen"> -->