button {
    color: blueviolet;
}

.rojo {
    color: red;
    // background-color: lightblue;

}

.verde {
    color: green;
    // background-color: darkblue;
}

.tamaño-G {
    font-weight: bold;
    font-size: large;
}

.tamaño-S {
    font-weight: 400;
    font-size: medium;
}